#landing1 {
    display: flex;
    margin: auto;
    background-color: rgba(41,148,116,255);
    height: 40rem;
}


#landing2{
    display: flex;
    margin: auto;
    margin-top: 2%;
    width: 52.4%;
    border-style: solid;
    border-width: 5rem;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0d5c02b5-f608-43fe-9294-c4973cc568e6/dekzd2i-a9350f8c-caba-4172-8a96-7427efc60e7b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBkNWMwMmI1LWY2MDgtNDNmZS05Mjk0LWM0OTczY2M1NjhlNlwvZGVremQyaS1hOTM1MGY4Yy1jYWJhLTQxNzItOGE5Ni03NDI3ZWZjNjBlN2IucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n6bdIargNDoIYpXQRcwC9rP_cINHxQoyTs8J2Wdq44Y');
    background-repeat: no-repeat;
}

#start {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 4rem;
    width: 17.5rem;
    margin-left: 7.5rem;
    margin-top: 22.5rem;
    border-width: 0.2rem;
}
#start:hover {
    border-width: 0.4rem;
}
